@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&display=swap");

/* @import "tailwindcss/preflight";
@tailwind utilities; */
/* Tailwind directives removed. Make sure to process this file with Tailwind CLI if you want to use them. */

@theme {
	--color-primary: #2563eb;
	--color-secondary: #1e40af;
}
* {
	font-family: "Outfit", sans-serif;
}

.font-playfair {
	font-family: "Playfair", serif;
}
